@font-face {
  font-family: 'Poppins regular';
  src: url(./assets/fonts/Poppins/Poppins-Regular.ttf);
}

@font-face {
  font-family: 'Poppins semiBold';
  src: url(./assets/fonts/Poppins/Poppins-SemiBold.ttf);
}

@font-face {
  font-family: 'Poppins Bold';
  src: url(./assets/fonts/Poppins/Poppins-Bold.ttf);
}



:root {
  /* font size */
  --fs-sm: 14px;
  --fs-md: 16px;
  --fs-lg: 14px;
  --fs-xl: 40px;
  --fs-xxl: 50px;

  /* font color */
  --fc-red: #EC0010;
  --fc-grey: #B6B4B4;
  --fc-white: #FFFFFF;

  /* font family */
  --ff-PoppinsRegular: 'Poppins regular';
  --ff-PoppinsSemiBold: 'Poppins semiBold';
  --ff-PoppinsBold: 'Poppins Bold';

}

/* font family */
.ff_PoppinsRegular {
  font-family: var(--ff-PoppinsRegular);
}

.ff_PoppinsSemiBold {
  font-family: var(--ff-PoppinsSemiBold);
}

.ff_PoppinsBold {
  font-family: var(--ff-PoppinsBold);
}


/* font color */
.fc_red {
  color: var(--fc-red);
}

.fc_grey {
  color: var(--fc-grey);
}

.fc_white {
  color: var(--fc-white);
}

/* font size */


.fs_sm {
  font-size: var(--fs-sm);
}

.fs_md {
  font-size: var(--fs-md);
}

.fs_lg {
  font-size: var(--fs-lg);
}

.fs_xl {
  font-size: var(--fs-xl);
}

.fs_xxl {
  font-size: var(--fs-xxl);
}

@media (min-width:576px) {
  :root {
    --fs-lg: 16px;
    --fs-xl: 40px;
    --fs-xxl: 42px;
  }
}

@media (min-width:768px) {
  :root {
    --fs-lg: 18px;
    --fs-md: 19px;
    --fs-xl: 42px;
  }
}

@media (min-width:992px) {
  :root {
    --fs-xl: 44px;
    --fs-xxl: 42px;
  }
}


@media (min-width:1200px) {
  :root {
    --fs-lg: 20px;
    --fs-xl: 45px;
    --fs-xxl: 70px;
  }
}

@media (min-width:1400px) {
  :root {
    --fs-sm: 18px;
    --fs-md: 24px;
    --fs-lg: 24px;
    --fs-xl: 48px;
    --fs-xxl: 72px;
  }
}
@media (min-width:1600px) {
  :root {
    --fs-sm: 18px;
    --fs-md: 24px;
    --fs-lg: 36px;
    --fs-xl: 48px;
    --fs-xxl: 72px;
  }
}